/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./*.html", "./src/**/*.{html,js}"],
  theme: {
    extend: {
      fontFamily: {
        serif: ['Georgia', 'ui-serif', 'serif'],
      },
      screens: {
        sm: '480px',   // arranca lo "mediano"
        md: '900px',   // arranca lo "grande"
        lg: '1200px',  // arranca lo "extra"
      },
    },
  },
  plugins: [],
};
